.logo-taitel{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}
.manu-bar{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    padding: 20px;
}
.manu-itiom{
    display: flex;
    margin-left: 400px;
   
}
.manu-itiom li{
    list-style: none;
    margin: 20px;
    cursor: pointer;
}
.manu-itiom li:hover{
    color: red;
}
.home-continar{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-evenly;
}
.text-continar{
    margin-left: 50px;
    margin-top: 150px;
    
}
.taitel{
    font-size: 50px;
    font-weight: bold;

}
.para{
    color: red;
    font-weight: 700;
    font-size: 24px;
    margin: 10px;
}
.para1{
    font-weight: 700;
    font-size: 24px;
    margin: 10px;
}
.mor-btn{
    padding: 19px 45px;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    text-decoration: none;
}
.mor-btn:hover{
    background-color: blue;
    transition: 0.5s;
}


 